.table {
  border-spacing: 0;
  margin: 1rem;
}

.row {
  margin: 0;
}

.square {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}

.border {
  border: 1px solid black;
}

.even:nth-child(even),
.odd:nth-child(odd) {
  background-color: black;
  color: white;
}

.selectedStart,
.selectedEnd {
  background-color: red !important;
}
