.table {
  border-spacing: 0;
  margin: 1rem;
}

.row {
  margin: 0;
}

.square {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}

.even:nth-child(even),
.odd:nth-child(odd) {
  background-color: black;
  color: white;
}

.even:nth-child(odd),
.odd:nth-child(even) {
  background-color: white;
}

.border {
  border: 1px solid black;
}

.backgroundImg {
  background-color: unset;
  background-position: center;
  background-size: cover;
}

.selectedEnd {
  background-color: red !important;
}

.selectedStartValid {
  background-color: green !important;
}

.whitePawn {
  background-image: url("../images/whitePawn.jpg");
}

.blackPawn {
  background-image: url("../images/blackPawn.jpeg");
}

.blackBishop {
  background-image: url("../images/blackBishop.jpg");
}

.whiteBishop {
  background-image: url("../images/whiteBishop.jpg");
}

.blackRook {
  background-image: url("../images/blackRook.jpg");
}

.whiteRook {
  background-image: url("../images/whiteRook.jpg");
}

.whiteKing {
  background-image: url("../images/whiteKing.jpg");
}

.blackKing {
  background-image: url("../images/blackKing.png");
}

.blackQueen {
  background-image: url("../images/blackQueen.jpg");
}

.whiteQueen {
  background-image: url("../images/whiteQueen.jpg");
}

.blackKnight {
  background-image: url("../images/blackKnight.jpg");
}

.whiteKnight {
  background-image: url("../images/whiteKnight.jpg");
}

.pieceDiv {
  padding: 0.5rem;
  margin: 0.2rem;
  border: 2px white solid;
}

.piece {
  height: 80px;
  width: 80px;
}

.pieceDiv:hover {
  cursor: pointer;
  border: 2px grey solid;
  border-radius: 10px;
}

.selected-piece {
  border: 1px darkblue solid;
  background-color: grey;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
